<div class="nav"> 
 <ul> 
  <li><a class="my" href="{{ site.baseurl }}/index.html">{{ site.name }}</a></li> 
  <li><a href="{{ site.baseurl }}/mine">杂项</a></li> 
  <li><a href="{{ site.baseurl }}/other/about">关于</a></li> 
  <li><a href="{{ site.baseurl }}/other/friend_link">友链</a></li> 
  <li><a href="{{ site.baseurl }}/other/tell_me">留言</a></li> 
  <li><a target="_blank" href="{{ site.baseurl }}/other/rss/index.xml">RSS</a></li> 
  <li class="link_github"><a target='_blank' href="http://github.com/{{ site.github }}/{{ site.project }}">GitHub</a></li>
 </ul> 
</div>
