@font-face {
  font-family: 'iconfont';
  src: url('//at.alicdn.com/t/font_1446266188_5297246.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/font_1446266188_5297246.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/font_1446266188_5297246.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/font_1446266188_5297246.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/font_1446266188_5297246.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.icon_font{font-family:"iconfont";font-style:normal;}

