body {
	padding: 0;
	background-color: #fff;
	color: #333;
	font-size: 14px;
	font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

body,div {
	margin: 0
}
a{color:#00C;text-decoration:none;} /*链接颜色*/
a:visited{color:#00C;} /*已点击链接颜色*/
a:hover{color:#00c;text-decoration:underline;} /*链接指向颜色*/


.nav {
	padding-bottom: 0;
	height: 50px;
	border-color: #e0e0e0;
	border-style: none none solid;
	border-width: 1px;
	background: #fff
}

.nav,.nav ul {
	margin: 0 auto;
	width: 100%
}

.nav ul {
	margin-left: 15px;
	padding: 0;
	list-style-type: none
}

.link_github {
	float: right!important;
	margin-right: 20px!important
}

.nav ul li {
	float: left;
	margin-right: .6em
}

.nav ul li a {
	position: relative;
	display: block;
	margin: 0 auto;
	padding: 0 15px;
	color: #333;
	text-decoration: none;
	line-height: 50px
}

.nav ul li a:hover {
	background: #e0e0e0;
	color: #00f
}

.my {
	font-size: 24px
}

#content {
	margin: 0 auto;
	width: 70pc;
	background: #fff;
	line-height: 24px
}

#content li {
	list-style-type: none
}

.list_article {
	float: left;
	margin: 40px 7px;
	width: 820px
}

.categories,.list_article {
	background: #fff
}

#other_list,.other {
	background: #fff
}

#other_list {
	float: right;
	margin: 40px 0 0;
	width: 250px
}

#other_list ul {
	padding: 0;
	border-style: solid solid none
}

#other_list li,#other_list ul {
	border-color: #e0e0e0;
	border-width: 1px
}

#other_list li {
	padding: 7px 17px;
	border-style: none none solid;
	color: #333;
	text-align: left
}

.list_article ul {
	padding: 0;
	border-style: solid solid none
}

.list_article ul,.list_article ul li {
	border-color: #e0e0e0;
	border-width: 1px
}

.list_article ul li {
	padding: 10px 20px;
	border-style: none none solid;
	color: #333;
	text-align: left;
	font-size: 1pc
}

.list_article #fen-page {
	padding: 9px 20px;
	text-align: center
}

.list_article #fen-page a {
	margin: 0 50px
}

input {
	height: 25px
}

input[name=page_count] {
	padding: 1px;
	width: 30px;
	height: 11px
}

#article {
	float: left;
	margin: 55px 7px;
	width: 808px;
	border: 1px solid #e0e0e0;
	background: #fff
	
}
#article_title{
    padding:10px;
}
article{
    padding:14px 16px;
}
footer {
	bottom: 2px;
	clear: both;
	display: block;
	width: 100%;
	border-top: 1px dashed #ccc;
	text-align: center
}

footer small {
	color: #aaa;
	font-size: 13px
}

footer a {
	color: #00f;
	text-decoration: none
}

footer a:hover {
	border-bottom: 1px dashed #bbb;
	text-decoration: none
}
