---
layout: default
---

<div id="content">
<div id="other_list">

{% include category.html %}
{% include category_date.html %}
</div>

<div id=article>
<div class='article_title'>
<h1>{{ page.title }}</h1>
{% if page.date %}
<span class='post_info' >发布时间：{{ page.date | date: "%Y-%m-%d" }}</span>
{% endif %}

{% if page.categories %}
<span class='cate_info' >分类：
{% for cate in page.categories %}
<a href='{{ site.baseurl }}/category/index.html#{{ cate }}'>{{ cate }}</a>
{% endfor %}
</span>
{% endif %}

<!-- 作者：<a href='{{ site.baseurl }}/other/about' target='_blank' >{{ site.myname }}</a></span> -->
<hr />
</div>
  <article class="page-content">
    {{ content }}
  </article>
<br />
{% if page.comments %}
{% include comments.html %}
{% endif %}
</div>
</div>
