---
layout: default
---

<div id="content"> 
<div id="other_list"> 

{% include category.html %}
{% include category_date.html %}
</div>

<div id=article>
<div class='article_title'>
<h1>{{ page.title }}</h1>
<span class='post_info' >时间：{{ page.date | date: "%Y-%m-%d" }}，作者：<a href='{{ site.baseurl }}/other/about' target='_blank' >{{ site.myname }}</a></span>
<hr />
</div>
  <article class="post-content">
    {{ content }}
  </article>
<hr />
<span class='page_nav'>
{% if page.previous %}
上一篇: <a href='{{ site.baseurl }}{{ page.previous.url }}'>{{ page.previous.title }}</a>
{% else %}
上一篇: <span >这是第一篇</span>
{% endif %}
<br />
{% if page.next %}
下一篇: <a href='{{ site.baseurl }}{{ page.next.url }}'>{{ page.next.title }}</a>
{% else %}
下一篇: <span >这是最后一篇了</span>
{% endif %}
</span>
<br />
{% include comments.html %}
</div>

</div>
